body{
background-color: #ADDDD0;
}
hr{
background-color: #ADDDD0;
border-style: dotted none none;
height:0px;
border-color: #87A2FB;
border-width: 5px;
width: 25%;
}
img{
height: 300px;
}
h1{
color: #6F38C5;
}
h2{
color: #6F38C5;
}